<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="redirectToHTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
        <rule name="forwardSSL">
          <match url="(.*)" />
          <!-- change the URL to your Azure Web Site url for example foo.azurewebistes.net -->
          <action type="Rewrite" url="https://sslforwarder.azurewebsites.net/{R:1}" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Rewrite HostName in redirects" preCondition="IsRedirect" enabled="true">
          <!-- change the URL to your Azure Web Site url for example foo.azurewebistes.net note: dont delete the backward slash '\' after foo -->
          <match serverVariable="RESPONSE_Location" pattern="^(https?)://sslforwarder\.azurewebsites\.net/(.*)" />
          <!-- change this to desire custom domain address of your web site Site-->
          <action type="Rewrite" value="{R:1}://sslforwarder.cloudapp.net/{R:2}" />
        </rule>
        <preConditions>
          <preCondition name="IsRedirect">
            <add input="{RESPONSE_STATUS}" pattern="^30[1237]$" />
          </preCondition>
        </preConditions>
        <rule name="Rewrite Hostname in Set-Cookie">
          <!-- change the URL to your Azure Web Site url for example foo.azurewebistes.net note: dont delete the backward slash '\' after foo -->
          <match serverVariable="RESPONSE_Set_Cookie" pattern="^(ARRAffinity=.*;Domain=)sslforwarder\.azurewebsites\.net(.*)$" />
          <!-- change this to desire custom domain address of your web site Site-->
          <action type="Rewrite" value="{R:1}foo.com{R:2}" />
        </rule>
      </outboundRules>
    </rewrite>
    <caching enabled="false" enableKernelCache="false" />
  </system.webServer>
</configuration>
